<server description="Sample Liberty server">
    <featureManager>
        <feature>jaxrs-2.1</feature>
        <feature>jsonp-1.1</feature>
        <feature>cdi-2.0</feature>
        <feature>mpMetrics-2.0</feature>
        <feature>mpConfig-1.3</feature>
    </featureManager>

    <variable name="http.port" defaultValue="9081"/>
    <variable name="https.port" defaultValue="9443"/>

    <webApplication location="guide-getting-started.war" contextRoot="/" />
    <mpMetrics authentication="false"/>

    <httpEndpoint host="*" httpPort="${http.port}"
        httpsPort="${https.port}" id="defaultHttpEndpoint"/>

    <variable name="io_openliberty_guides_system_inMaintenance" value="false"/>
</server>
