name: Test application

on:
  pull_request:
    branches: [ qa ]

jobs:
  java8build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: finish
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - run: unset _JAVA_OPTIONS
    - name: Run tests
      run: ../scripts/travisTest.sh
    - name: Post tests
      if: always()
      run: |
           docker images
           logsPath=$(find . -name "console.log");
           cat $logsPath | grep Launching
    - name: Archive server logs if failed
      if: failure()
      uses: actions/upload-artifact@v2
      with:
        name: server-logs
        path: finish/target/liberty/wlp/usr/servers/defaultServer/logs/
